@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
}

.font-playfair {
  font-family: var(--font-playfair);
}

